#titulo{
    font-size: 72px;
    font-weight: 600;
}

#deck{
    background: #116336;
    box-shadow: 0px 0px 15px 2px rgba(black, 0.5),
        inset 0px 0px 5px rgba(black, 0.5);
    border: 10px solid black;

    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

#deck > *{
    margin: 20px;
}


#buttonPlace{
    width:200px;
    height:275px;
}

.button_plus {
    position: relative;
    width: 35px;
    height: 35px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #80461B;
  
    /* Mittig */
    top: 50%;
    left: 50%;
  }
  
  .button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #80461B;
    top: 50%;
    left: 50%;
  }
  
  .button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #80461B;
    height: 50%;
    width: 4px;
  }
  
  .button_plus:hover:before,
  .button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .button_plus:hover {
    background-color: #80461B;
    transition: 0.2s;
  }