<div>
    <div class="place"> 
        <div class="fullCard">
            <button type="button" (click)="false" id="editar" routerLink="/cardAlter/{{itemInput.id}}">&#x270E;&#10240;</button>
            <button type="button" (click)="delete()" id="editar" style="width:30px;" >&#x2620;&#10240;</button>

            <div class="frontCard">
                <div class="tipo">
                    <img [src]="teste" alt="">
                </div>
            
                <div class="cardHeader">
                    <h3 class="titulo">{{itemInput.card_name}}</h3>
                </div>
                <div class="infoBox">
                    <p>{{itemInput.card_desc}}</p>
                </div>
                <div class="atributos">
                    <p>{{itemInput.card_atk}}</p>
                    <p>{{itemInput.card_life}}</p>
                </div>

            </div>
            <div class="backCard">

            </div>
        </div>
        
    </div>
</div>
